@font-face {
    font-family: 'JustVector';
    src: url('justvectorv2-webfont.eot');
    src: url('justvectorv2-webfont.eot?#iefix') format('eot'),
         url('justvectorv2-webfont.woff') format('woff'),
         url('justvectorv2-webfont.ttf') format('truetype'),
         url('justvectorv2-webfont.svg#webfontkw9J4lGf') format('svg');
    font-weight: normal;
    font-style: normal;
}
.avatar {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    float: left;
    margin-right: 8px;
    padding: 3px;
}
ul.socialicons, ul.socialicons li {
    list-style-type: none;
}
ul.socialicons li {
    border: none !important;display:inline-block;
}
ul.socialicons li a {
    font-family: 'JustVector', Arial, sans-serif;
    display: inline-block;
    width: 34px;
    height: 34px;
    font-size: 30px;
    margin-right: 8px;
}
ul.socialicons li a:hover { 
    text-decoration: none;
}
